[mysql]
host={{grains['ipv4'][1]}}
user=monitor
password=monitor@mall.com$
socket=/tmp/mysqld.sock

[mysqladmin]
host={{grains['ipv4'][1]}}
user=monitor
password=monitor@mall.com$
socket=/tmp/mysqld.sock
