{% set datadir = salt['pillar.get']('mysql:datadir', '/var/lib/mysql') -%}
[mysqld]
bind-address = {{grains['ipv4'][0]}}
port            = 3306
pid-file = mysqld.pid
socket          = /tmp/mysql.sock
key_buffer = 1024M
max_allowed_packet = 100M
table_cache = 1024
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
query_cache_size = 32M
tmp_table_size = 256M
max_heap_table_size = 256M
max_connections = 3000
skip-name-resolve
server-id = 10
log-bin = mysql-bin
log-error = log-error.log
log-queries-not-using-indexes = 0
long_query_time = 2
slow_query_log_file = slow-queries.log
datadir={{datadir}}
default_storage_engine=innodb
innodb_data_home_dir={{datadir}}
innodb_data_file_path=ibdata1:10M:autoextend
innodb_log_group_home_dir={{datadir}}
innodb_buffer_pool_size=512M
innodb_additional_mem_pool_size=50M
innodb_log_file_size=100M
innodb_log_buffer_size=8M
innodb_flush_log_at_trx_commit=1
innodb_lock_wait_timeout=50
innodb_file_per_table
innodb_open_files=20000
skip-slave-start
log-slave-updates=1
expire_logs_days=15
max_connect_errors=999999999
net_write_timeout=120
net_read_timeout=120
wait_timeout = 30
interactive_timeout = 30

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
prompt={{salt['pillar.get']('mysql:role', 'mysql')}}::[{{grains['ipv4'][0]}}]\\n\\u@\\p::[\\d]\\n->\\_

[isamchk]
key_buffer = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
